.loginButton {
    margin-top: 32px!important;
}

.loginText {
    font-style: italic;
    color: rgba(0, 0, 0, 0.678);
    margin-top: 32px;
    cursor: pointer
}

.loginFieldsContainer {
    margin: auto;
    position: relative;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(100vw - 50px);
    height: 400px;
}

.loginContainer {
    height: 100vh
}

.paper {
    height: auto;
    width: 400px;
    margin: auto;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    padding: 20px
}

@media screen and (max-width:450px) {
    .paper {
        width: 350px;
    }
}

@media screen and (max-width:400px) {
    .paper {
        width: 300px;
    }
}

@media screen and (max-width:350px) {
    .paper {
        width: 250px;
    }
}